<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/basis.js"></script>
    <script src="/js/visit.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basis.css">
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd; ">
        <div class="container">
            <div class="navbar-brand">OTAKU@部落格</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/article/hotview">当前热门</a>
                </li>
                <li class="nav-item" id="myblog" style="display: none">
                        <a class="nav-link" href="/user/userview">我的博客</a>
                    </li>
            </ul>
            <form class="form-inline ml-auto">
                <div  class="input-group input-group-sm">
                    <select id="searchResult" name="type">
                        <option value="article">文章</option>
                        <option value="nickname">昵称</option>
                        <option value="blog">博客</option>
                    </select>
                    <input type="text" class="form-control" id="searchContent">
                    <button type="button" class="btn btn-primary search" id="search">搜索</button>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <button id="friendButton" type="button" class="btn btn-primary "
                    style="margin-left:10px;margin-right: 10px;display: none">
                    好友申请 <span id="newFriend" class="badge badge-light">new!</span>
                </button>
                <div class="btn-group group" style="display: none">
                    <button class="btn   btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown">
                        个人信息
                    </button>
                    <div class="dropdown-menu dropdown-menu-right ">
                        <a class="dropdown-item" href="/info/editinfoview">编辑资料</a>
                        <a class="dropdown-item" href="/user/quit">退出账号</a>
                    </div>
                </div>

                <li class="nav-item item" style="display: none">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#loginView">登录</button>
                </li>
                <li class="nav-item item" style="display: none">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerView"
                        style="margin-left:10px">注册</button>


                </li>

            </ul>
        </div>
    </nav>




    <div class="modal fade" id="loginView" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginexampleModalCenterTitle">登录</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="loginform" class="form-signin" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control registerInput" placeholder="用户名/e-mail"
                                id="loginName" name="username" required autofocus>
                            <input type="password" class="form-control registerInput" placeholder="密码" id="loginPass"
                                name="password" required>
                        </div>
                        <div class="alert alert-danger ">
                        </div>
                        <div class="form-group form-check">
                            <input name="remember" class="form-check-input" type="checkbox">自动登录？
                        </div>
                        <div id="alert" class="alert alert-danger ">

                        </div>
                        <button id="loginLogin" type="button" class="btn btn-primary btn-block login">登录</button>
                    </form>
                    <div data-toggle="modal" data-target="#forgetView" class="float-right forget">忘记密码？</div>
                </div>

            </div>
        </div>
    </div>





    <div class="modal fade" id="registerView" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">注册</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerForm" class="form-signin" method="POST">
                        <div class="form-group container">
                            <input class="form-control registerInput" name="username" id="registerName" type="text"
                                placeholder="用户名（第一位为小写字母且只含小写字母和数字，6-13位）" autofocus>
                            <input class="form-control registerInput" id="registerPass" name="password" type="password"
                                placeholder="密码（至少6位且含有一位小写字母）">
                            <input class="form-control registerInput" id="registerRepass" name="repassword"
                                type="password" placeholder="确认密码">
                            <input class="form-control registerInput" id="email" name="email" type="email"
                                placeholder="邮箱">
                            <div class="row">
                                <div class="col-sm-5" style="padding-right: 0px">
                                    <input id="captcha" class="form-control " name="captcha" type="text"
                                        placeholder="验证码（区分大小写）">

                                </div>
                                <div class="col-sm-3" style="padding-left: 2px">
                                    <button class="btn btn-primary btn-block login countdown" id="getCaptcha"
                                        type="button">点击获取</button>

                                </div>


                            </div>
                            <div id="registerAlert" class="alert alert-danger ">

                            </div>
                            <div id="successAlert" class="alert alert-success ">
                                注册成功！请返回进行登录
                            </div>
                            <button id="registerSubmit" class="btn btn-primary btn-block login"
                                type="button">注册</button>


                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="forgetView" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">找回密码</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group container">



                        <div id="forgetFirst">
                            <form id="forgetFirstForm" method="POST">
                                <input class="form-control registerInput" name="username" id="forgetName" type="text"
                                    placeholder="用户名" autofocus>
                                <input class="form-control registerInput" id="forgetEmail" name="email" type="email"
                                    placeholder="邮箱">
                                <button id="forgetNext" class="btn btn-primary btn-block login"
                                    type="button">下一步</button>

                            </form>

                        </div>

                        <div id="forgetSecond" style="display:none;">
                            <form id="forgetSecondForm" method="POST">
                                <div class="row">
                                    <div class="col-sm-5" style="padding-right: 0px">
                                        <input id="forgetCaptcha" class="form-control " name="captcha" type="text"
                                            placeholder="验证码（区分大小写）">

                                    </div>
                                    <div class="col-sm-3" style="padding-left: 2px">
                                        <button class="btn btn-primary btn-block login countdown" id="forgetGetCaptcha"
                                            type="button">点击获取</button>

                                    </div>
                                </div>
                                <input class="form-control registerInput" id="forgetPass" name="password"
                                    type="password" placeholder="密码（至少6位且含有一位小写字母）">
                                <input class="form-control registerInput" id="forgetRepass" name="repassword"
                                    type="password" placeholder="确认密码">

                            </form>

                        </div>
                        <div id="forgetAlert" class="alert alert-danger ">

                        </div>
                        <div id="forgetsuccessAlert" class="alert alert-success ">
                            修改成功！请返回进行登录
                        </div>
                        <button id="forgetSubmit" class="btn btn-primary btn-block login" type="button"
                            style="display:none ">确定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<div class="container">
    <blockquote class="blockquote " style="margin: 20px 20px 50px 20px">
        <h2 id="blogname"></h2>
        <footer class="blockquote-footer text-center" id="slogan"> </footer>
    </blockquote>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2 ">
            <div class="row">
                <div class="col-sm-12  text-center leftside-card" style="padding: 20px">
                    <div>
                        <img id="avatar" alt="头像" height="100px" width="100px" style="margin-bottom: 20px" src="">

                    </div>
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-sm-6 line"><strong id="friend"></strong>
                            <div>好友</div>
                        </div>



                        <div class="col-sm-6"><strong id="essay"></strong>
                            <div>文章</div>
                        </div>
                    </div>
                    <div>
                        <p id="nickname"></p>
                        <p id="gender"></p>
                        <p id="birthday"></p>
                    </div>
                    <button type="button" id="add">申请好友</button>
                </div>
            </div>

        </div>
        <div class="col-sm-7  text-center">


            <div class="center-card" style="padding: 20px 10px 20px 10px;position: relative">
                <h3 class="text-left">文章列表</h3>
                <ul id="center">

                </ul>
                <div  style="position: absolute;bottom:0;left:0;right:0;margin-bottom:20px">
                    <button  class="btn btn-primary" type="button" id="next">下一页</button>
                    <button  style="visibility: hidden" class="btn btn-primary" type="button" id="last">上一页</button>
                
            </div>
            </div>


        </div>
     
    </div>
</div>

</body>



</html>